
.container-auth{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cont-form-auth{
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 30vw;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cont-form-auth h2{
    font-size: 16px;
    margin-bottom: 2vh;
    color: #0051ff;
}



.img{
    height: 20vh;
    width: 5.5vw;
    margin-bottom: 4vh;
}

form{
    width: 100%;
}


.form-group{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.form-group input{
    height: 7vh;
    width: 77.5%;
    font-size: 14px;
    border-radius: 30px;
    padding-left: 10px ;
    border: 1px solid #717171;
    margin-bottom: 2vh;
    margin-left: 1.5vh;

}

.form-group-p{
    height: 7vh;
    width: 100%;
    font-size: 14px;
    padding-left: 10px ;
    margin-bottom: 2vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-form{
    display: flex;
    flex-direction: row;
    height: 7vh;
    justify-content: space-around;
    font-size: 18px;
    align-items: center;
    width: 80%; 
    border-radius: 30px;
    border: 1px solid #717171;
   
}

.cont-form input{
    display: flex;
    flex-direction: row;
    height: 6vh;
    width: 80%;
    font-size: 14px;
    outline: none;
}
.st{
    display: none;
}

.btn-acessar{
    background-color: #0051ff;
    font-size: 16px;
    height: 7vh;
    width: 80%;
    border-radius: 30px;
    color: #fff;
    margin-top: 6vh;
}
.cont-btn-esqueceu-senha{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 3vw;
}

.btn-esqueceu-senha{
    background-color: transparent;
    font-size: 14px;
    color: #0051ff;

}

/* Ajuste o CSS conforme necessário para estilizar o botão de mostrar/esconder senha */
.btn-show-password {
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    padding: 0;
    margin-top: 5px;
    display: inline-block;
}
