
.container-auth{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cont-form-auth{
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 30vw;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cont-form-auth h2{
    font-size: 16px;
    margin-bottom: 2vh;
    color: #0051ff;
}

.img{
    height: 20vh;
    width: 5.5vw;
    margin-bottom: 4vh;
}

form{
    width: 100%;
}


.form-group{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.form-group input{
    height: 7vh;
    width: 80%;
    font-size: 14px;
    border-radius: 30px;
    padding-left: 10px ;
    border: 1px solid #717171;
    margin-bottom: 2vh;

}


.btn-acessar{
    background-color: #0051ff;
    font-size: 16px;
    height: 7vh;
    width: 80%;
    border-radius: 30px;
    color: #fff;
    margin-top: 6vh;
}
.cont-btn-esqueceu-senha{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 22%;
}

.btn-esqueceu-senha{
    background-color: transparent;
    font-size: 14px;
    color: #0051ff;

}