/* modal.css */


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 10px;
    font-size: 19px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 19px;
}

.modal-content button {
    margin: 5px;
    padding: 10px 16px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
}

.modal-content .cancelar{
    background-color: rgb(255, 81, 0);
}

.modal-content button:nth-child(3) {
    background: #6c757d;
}
