
.tarefas{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    font-size: 12px;
}

.tarefas h3{
  font-size: 12px;
}

.tarefas ul{
  width: 95%;
}

.tarefa {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 10px;
  
}

.tarefa h4 {
  margin: 0;
}

.tarefa p {
  margin: 5px 0;
}

.tarefa a {
  color: #007bff;
  text-decoration: none;
}

.tarefa a:hover {
  text-decoration: underline;
}

.tarefa .done {
  text-decoration: line-through;
  color: green;
}

.tarefa .pending {
  color: red;
}
