.calendario-mes {
    border-radius: 5px;
    padding: 10px;
    width: 270px; /* Reduzindo a largura */
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; /* Reduzindo a margem inferior */
}

.header h2 {
    margin: 0;
    font-size: 0.5em; /* Reduzindo o tamanho do texto */
    color: #333;
}

.header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.8em; /* Reduzindo o tamanho do texto */
    color: #666;
}

.dias-semana {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px; /* Reduzindo a margem inferior */
}

.dia-semana {
    width: calc(100% / 7);
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 0.25em; /* Reduzindo o tamanho do texto */
}

.dias-mes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px; /* Reduzindo o espaço entre os dias */
}

.dia-mes {
    text-align: center;
    padding: 3px; /* Reduzindo o preenchimento */
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.5em; /* Reduzindo o tamanho do texto */
}

.dia-mes:hover {
    background-color: #e0e0e0;
}


.current-day{
    background-color: #0069da;
    color: white;
}